<% var data = { title: "Badges" }; %>
<%= _.template(require('./../parts/header.html').default)(data) %>
	<div class="jb__body">
		<div class="p-4">
			<h2>Badges</h2>
			<div class="t-muted t-hint mb-4">count and labeling component</div>

			<p>Badges are small count and labeling components, which are used to add extra information to an interface element. You can use them to draw users' attention to a new element, notify about unread messages or provide any kind of additional info.</p>
			<p>You can create a soft colour variant of a corresponding contextual badge variation, to make it look more subtle. Click here to see the list of available colors and choose ones that best suit your design.</p>
			<div class="sample">
				<div class="sample__item">
					<span class="badge badge--dark">dark</span>
					<span class="badge badge--muted">muted</span>
					<span class="badge badge--gray">gray</span>
					<span class="badge badge--white">white</span>
					<span class="badge badge--red">red</span>
					<span class="badge badge--amber">amber</span>
					<span class="badge badge--orange">orange</span>
					<span class="badge badge--green">green</span>
					<span class="badge badge--royal">royal</span>
					<span class="badge badge--blue">blue</span>
					<span class="badge badge--purple">purple</span>
					<br>
					<br>
					<span class="badge badge--dark-lt">dark</span>
					<span class="badge badge--muted-lt">muted</span>
					<span class="badge badge--gray-lt">gray</span>
					<span class="badge badge--white-lt">white</span>
					<span class="badge badge--red-lt">red</span>
					<span class="badge badge--amber-lt">amber</span>
					<span class="badge badge--orange-lt">orange</span>
					<span class="badge badge--green-lt">green</span>
					<span class="badge badge--royal-lt">royal</span>
					<span class="badge badge--blue-lt">blue</span>
					<span class="badge badge--purple-lt">purple</span>
				</div>
				<div class="sample__code">
				</div>
			</div>

			<h3 x-anchor>Empty badges</h3>
			<p>Leave the HTML element empty if you want to create badges without any text. Empty badges are particularly useful if you want to make an interface element more noticeable regardless of limited space.</p>
			<div class="sample">
				<div class="sample__item">
					<span class="badge badge--dark"></span>
					<span class="badge badge--muted"></span>
					<span class="badge badge--gray"></span>
					<span class="badge badge--white"></span>
					<span class="badge badge--red"></span>
					<span class="badge badge--amber"></span>
					<span class="badge badge--orange"></span>
					<span class="badge badge--green"></span>
					<span class="badge badge--royal"></span>
					<span class="badge badge--blue"></span>
					<span class="badge badge--purple"></span>
				</div>
				<div class="sample__code">
				</div>
			</div>

			<h3 x-anchor>Badge sizes</h3>
			<p>TODO: add information about sizes</p>
			<div class="sample">
				<div class="sample__item">
					<span class="badge badge--xs">Test</span>
					<span class="badge badge--sm">Test</span>
					<span class="badge">Test</span>
					<span class="badge badge--lg">Test</span>
					<span class="badge badge--xl">Test</span>
				</div>
				<div class="sample__code">
				</div>
			</div>

			<h3 x-anchor>Button with badge</h3>
			<p>Badges can be used as part of links or buttons to provide a counter.</p>
			<div class="sample">
				<div class="sample__item">
					<button type="button" class="btn btn--outline">Notifications <span class="badge badge--red">4</span></button>
					<button type="button" class="btn btn--outline">Notifications <span class="badge badge--green">4</span></button>
				</div>
				<div class="sample__code">
				</div>
			</div>
		</div>
	</div>
<%= _.template(require('./../parts/footer.html').default)(data) %>
