<% var data = { title: "Buttons" }; %>
<%= _.template(require('./../parts/header.html').default)(data) %>
	<div class="jb__filter">

	</div>
	<div class="jb__body">
		<div class="p-4">
			<div class="d-flex fw-wrap">
				<div class="cxl-12 cmd-12">
					<div class="card card-border card-body ta-center"> 12 </div>
				</div>
				<div class="cxl-11 cmd-11">
					<div class="card card-border card-body ta-center"> 11 </div>
				</div>
				<div class="cxl-1 cmd-1">
					<div class="card card-border card-body ta-center"> 1 </div>
				</div>
				<div class="cxl-10 cmd-10">
					<div class="card card-border card-body ta-center"> 10 </div>
				</div>
				<div class="cxl-2 cmd-2">
					<div class="card card-border card-body ta-center"> 2 </div>
				</div>
				<div class="cxl-9 cmd-9">
					<div class="card card-border card-body ta-center"> 9 </div>
				</div>
				<div class="cxl-3 cmd-3">
					<div class="card card-border card-body ta-center"> 3 </div>
				</div>
				<div class="cxl-8 cmd-8">
					<div class="card card-border card-body ta-center"> 8 </div>
				</div>
				<div class="cxl-4 cmd-4">
					<div class="card card-border card-body ta-center"> 4 </div>
				</div>
				<div class="cxl-7 cmd-7">
					<div class="card card-border card-body ta-center"> 7 </div>
				</div>
				<div class="cxl-5 cmd-5">
					<div class="card card-border card-body ta-center"> 5 </div>
				</div>
				<div class="cxl-6 cmd-6">
					<div class="card card-border card-body ta-center"> 6 </div>
				</div>
				<div class="cxl-6 cmd-6">
					<div class="card card-border card-body ta-center"> 6 </div>
				</div>
				<div class="cxl-4 cmd-4">
					<div class="card card-border card-body ta-center"> 4 </div>
				</div>
				<div class="cxl-4 cmd-4">
					<div class="card card-border card-body ta-center"> 4 </div>
				</div>
				<div class="cxl-4 cmd-4">
					<div class="card card-border card-body ta-center"> 4 </div>
				</div>
				<div class="cxl-3 cmd-3">
					<div class="card card-border card-body ta-center"> 3 </div>
				</div>
				<div class="cxl-3 cmd-3">
					<div class="card card-border card-body ta-center"> 3 </div>
				</div>
				<div class="cxl-3 cmd-3">
					<div class="card card-border card-body ta-center"> 3 </div>
				</div>
				<div class="cxl-3 cmd-3">
					<div class="card card-border card-body ta-center"> 3 </div>
				</div>
				<div class="cxl-2 cmd-2">
					<div class="card card-border card-body ta-center"> 2 </div>
				</div>
				<div class="cxl-2 cmd-2">
					<div class="card card-border card-body ta-center"> 2 </div>
				</div>
				<div class="cxl-2 cmd-2">
					<div class="card card-border card-body ta-center"> 2 </div>
				</div>
				<div class="cxl-2 cmd-2">
					<div class="card card-border card-body ta-center"> 2 </div>
				</div>
				<div class="cxl-2 cmd-2">
					<div class="card card-border card-body ta-center"> 2 </div>
				</div>
				<div class="cxl-2 cmd-2">
					<div class="card card-border card-body ta-center"> 2 </div>
				</div>
			</div>
		</div>
	</div>
	<div class="jb__aside">

	</div>
<%= _.template(require('./../parts/footer.html').default)(data) %>
