<% var data = { title: "Buttons" }; %>
<%= _.template(require('./../parts/header.html').default)(data) %>
	<div class="jb__filter">

	</div>
	<div class="jb__body">
		<div class="p-4">
			<h1>Modals</h1>
			<p>Add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>

			<h2>Simple modal window</h2>
			<p>Add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>
			<div class="sample">
				<div class="sample__item">
					<button class="btn btn-white" x-data="modal" @click="open('modal-simple')">Simple modal</button>
				</div>
				<div class="sample__code"></div>
			</div>

			<h2>Full width</h2>
			<div class="sample">
				<div class="sample__item">
					<button class="btn btn-white" x-data="modal" @click="open('modal-large')">Large modal</button>
				</div>
				<div class="sample__code"></div>
			</div>

			<h2>Mini</h2>
			<div class="sample">
				<div class="sample__item">
					<button class="btn btn-white" x-data="modal" @click="open('modal-small')">Small modal</button>
				</div>
				<div class="sample__code"></div>
			</div>

			<h2>Success notification</h2>
			<div class="sample">
				<div class="sample__item">
					<button class="btn btn-white" x-data="modal" @click="open('modal-success')">Success modal</button>
				</div>
				<div class="sample__code"></div>
			</div>

			<h2>Danger notification</h2>
			<div class="sample">
				<div class="sample__item">
					<button class="btn btn-white" x-data="modal" @click="open('modal-danger')">Danger modal</button>
				</div>
				<div class="sample__code"></div>
			</div>

			<h2>Example with simple form</h2>
			<div class="sample">
				<div class="sample__item">
					<button class="btn btn-white" x-data="modal" @click="open('modal-form')">Modal with simple form</button>
				</div>
				<div class="sample__code"></div>
			</div>
		</div>
	</div>

	<div class="modal" id="modal-simple" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content" x-data="modal" @click.outside="close($el)">
				<div class="modal-header">
					<h4 class="modal-title">Modal title</h4>
					<button type="button" class="modal-close" x-data="modal" @click="close($el)"></button>
				</div>
				<div class="modal-body">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi beatae delectus deleniti dolorem eveniet facere fuga iste nemo nesciunt nihil odio perspiciatis, quia quis reprehenderit sit tempora totam unde.
					<br>
					<br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi beatae delectus deleniti dolorem eveniet facere fuga iste nemo nesciunt nihil odio perspiciatis, quia quis reprehenderit sit tempora totam unde.
					<br>
					<br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi beatae delectus deleniti dolorem eveniet facere fuga iste nemo nesciunt nihil odio perspiciatis, quia quis reprehenderit sit tempora totam unde.
					<br>
					<br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi beatae delectus deleniti dolorem eveniet facere fuga iste nemo nesciunt nihil odio perspiciatis, quia quis reprehenderit sit tempora totam unde.
					<br>
					<br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi beatae delectus deleniti dolorem eveniet facere fuga iste nemo nesciunt nihil odio perspiciatis, quia quis reprehenderit sit tempora totam unde.
					<br>
					<br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi beatae delectus deleniti dolorem eveniet facere fuga iste nemo nesciunt nihil odio perspiciatis, quia quis reprehenderit sit tempora totam unde.
					<br>
					<br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi beatae delectus deleniti dolorem eveniet facere fuga iste nemo nesciunt nihil odio perspiciatis, quia quis reprehenderit sit tempora totam unde.
					<br>
					<br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi beatae delectus deleniti dolorem eveniet facere fuga iste nemo nesciunt nihil odio perspiciatis, quia quis reprehenderit sit tempora totam unde.
					<br>
					<br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi beatae delectus deleniti dolorem eveniet facere fuga iste nemo nesciunt nihil odio perspiciatis, quia quis reprehenderit sit tempora totam unde.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn" x-data="modal" @click="close($el)">Close</button>
					<button type="button" class="btn btn-primary" x-data="modal" @click="close($el)">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="modal-large" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-lg" role="document">
			<div class="modal-content" x-data="modal" @click.outside="close($el)">
				<div class="modal-header">
					<h4 class="modal-title">Modal title</h4>
					<button type="button" class="modal-close" x-data="modal" @click="close($el)"></button>
				</div>
				<div class="modal-body">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi beatae delectus deleniti dolorem eveniet facere fuga iste nemo nesciunt nihil odio perspiciatis, quia quis reprehenderit sit tempora totam unde.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn" x-data="modal" @click="close($el)">Close</button>
					<button type="button" class="btn btn-primary" x-data="modal" @click="close($el)">Save changes</button>
				</div>
			</div>
		</div>
	</div>


	<div class="modal" id="modal-small" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-sm" role="document">
			<div class="modal-content" x-data="modal" @click.outside="close($el)">
				<div class="modal-body">
					<h4 class="modal-title">Are you sure?</h4>
					<p>If you proceed, you will lose all your personal data.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn" x-data="modal" @click="close($el)">Cancel</button>
					<button type="button" class="btn btn-primary" x-data="modal" @click="close($el)">Yes, delete all my data</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="modal-success" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-sm" role="document">
			<div class="modal-content" x-data="modal" @click.outside="close($el)">
				<div class="modal-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" stroke-width="1" stroke="var(--tblr-success)" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="9"></circle><path d="M9 12l2 2l4 -4"></path></svg>
				</div>
				<div class="modal-body modal-body-center">
					<h4 class="modal-title">Payment succedeed</h4>
					<p>Your payment of $290 has been successfully submitted. Your invoice has been sent to support@tabler.io.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn" x-data="modal" @click="close($el)">Go to dashboard</button>
					<button type="button" class="btn btn-success" x-data="modal" @click="close($el)">Veiw invoce</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="modal-danger" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-sm" role="document">
			<div class="modal-content" x-data="modal" @click.outside="close($el)">
				<div class="modal-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" stroke-width="1" stroke="var(--tblr-danger)" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 9v2m0 4v.01"></path><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path></svg>
				</div>
				<div class="modal-body modal-body-center">
					<h4 class="modal-title">Are you sure?</h4>
					<p>Do you really want to remove 84 files? What you've done cannot be undone.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn" x-data="modal" @click="close($el)">Cancel</button>
					<button type="button" class="btn btn-danger" x-data="modal" @click="close($el)">Yes, delete all my data</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="modal-form" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content" x-data="modal" @click.outside="close($el)">
				<div class="modal-header">
					<h4 class="modal-title">Create new report</h4>
					<button type="button" class="modal-close" x-data="modal" @click="close($el)"></button>
				</div>
				<div class="modal-body">
					<div class="flex">
					  <div class="clg-12 cmd-12">
						  <label class="form-label">Report url</label>
							<input type="text" class="form-control ps-0" value="report-01" autocomplete="off">
					  </div>
					  <div class="clg-12 cmd-12">
						  <label class="form-label">Visibility</label>
						  <select class="form-select">
							<option value="1" selected="">Private</option>
							<option value="2">Public</option>
							<option value="3">Hidden</option>
						  </select>
					  </div>
					</div>
				</div>
				<div class="modal-body">
					<div class="flex">
					  <div class="clg-12 cmd-12">
						  <label class="form-label">Report url</label>
							<input type="text" class="form-control ps-0" value="report-01" autocomplete="off">
					  </div>
					  <div class="clg-12 cmd-12">
						  <label class="form-label">Visibility</label>
						  <select class="form-select">
							<option value="1" selected="">Private</option>
							<option value="2">Public</option>
							<option value="3">Hidden</option>
						  </select>
					  </div>
					</div>
				</div>
				<div class="modal-body">
					<div class="flex">
					  <div class="clg-12 cmd-12">
						  <label class="form-label">Report url</label>
							<input type="text" class="form-control ps-0" value="report-01" autocomplete="off">
					  </div>
					  <div class="clg-12 cmd-12">
						  <label class="form-label">Visibility</label>
						  <select class="form-select">
							<option value="1" selected="">Private</option>
							<option value="2">Public</option>
							<option value="3">Hidden</option>
						  </select>
					  </div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn" x-data="modal" @click="close($el)">Cancel</button>
					<button type="button" class="btn btn-primary" x-data="modal" @click="close($el)">Create new report</button>
				</div>
			</div>
		</div>
	</div>
<%= _.template(require('./../parts/footer.html').default)(data) %>
