<% var data = { title: "Buttons" }; %>
<%= _.template(require('./../parts/header.html').default)(data) %>
	<div class="jb__filter">
		<form class="p-4" action="." method="get" autocomplete="off">
			<div class="pb-3">
				<div class="d-flex aic t-hint t-muted mb-3 fw-400">
					<span>Translation progress</span>
				</div>
				<div class="progress" max="2000" x-data="progress(500, 1000)"></div>
				<div class="mt-2 fw-500">25% from 1253</div>
			</div>
			<div class="pb-4 bb">
				<div class="t-hint t-muted fw-400">Search</div>
				<div class="mt-2">
					<input type="search" name="search" placeholder="e.g. image.png" autocomplete="off">
				</div>
			</div>
			<div class="py-4">
				<div class="d-flex aic t-hint t-muted mb-3 fw-400">
					<span>Translation variants</span>
				</div>
				<div class="d-block">
					<div class="my-2">Заработок %s бонусных баллов</div>
					<div class="my-2">Бонусные баллы для входа</div>
					<div class="my-2">Бонусные баллы не введены</div>
				</div>
			</div>
			<div class="pb-4">
				<button type="submit" class="btn btn-primary w-100 mt-2"><i class="icon-save mr-2"></i>Save translation</button>
			</div>
		</form>
	</div>
	<div class="jb__body">
		<div class="d-flex p-4">
			<div class="d-grid gap-3 mb-auto">
				<div class="d-grid ga-12">
					<div class="ga-6 fw-500"><i class="flag flag-us flag-normal mr-2"></i> English - <span class="t-muted">Source</span></div>
					<div class="ga-6 fw-500"><i class="flag flag-ru flag-normal mr-2"></i> Russian - <span class="t-muted">Translation</span></div>
				</div>
				<div class="d-grid ga-12">
					<div class="ga-6">No reward points entered</div>
					<div class="ga-6">Бонусы пока не заработаны</div>
				</div>
				<div class="d-grid ga-12">
					<div class="ga-6">Your referral links</div>
					<div class="ga-6"></div>
				</div>
				<div class="d-grid ga-12">
					<div class="ga-6">You have %s points available...</div>
					<div class="ga-6"></div>
				</div>
				<div class="d-grid ga-12">
					<div class="ga-6">Enter any page on our site</div>
					<div class="ga-6"></div>
				</div>
				<div class="d-grid ga-12">
					<div class="ga-6">Enable</div>
					<div class="ga-6">Включить</div>
				</div>
				<div class="d-grid ga-12">
					<div class="ga-6">If the product participates in...</div>
					<div class="ga-6"></div>
				</div>
				<div class="d-grid ga-12">
					<div class="ga-6">No reward points entered</div>
					<div class="ga-6">Товар доступен для покупки вариативного товара</div>
				</div>
			</div>
		</div>
	</div>
	<div class="jb__aside">
		<form class="d-flex fd-column p-4" action="." method="get" autocomplete="off">
			<div class="pb-4">
				<button type="submit" class="btn w-100 mt-2"><i class="icon-send"></i> Add new language</button>
			</div>
			<div class="pb-3">
				<div class="t-hint t-muted mb-4 fw-400">
					Languages (6)
				</div>
				<div class="d-flex aic my-3">
					<i class="flag flag-cn mr-2"></i> Chinese <span class="badge ml-auto">100 - 100%</span>
				</div>
				<div class="d-flex aic my-3">
					<i class="flag flag-de mr-2"></i> Deutsche <span class="badge ml-auto">34 - 100%</span>
				</div>
				<div class="d-flex aic my-3">
					<i class="flag flag-it mr-2"></i> Italian <span class="badge ml-auto">34 - 100%</span>
				</div>
				<div class="d-flex aic my-3">
					<i class="flag flag-br mr-2"></i>Portuguese (Brazil) <span class="badge ml-auto">99 - 100%</span>
				</div>
				<div class="d-flex aic my-3">
					<i class="flag flag-ru mr-2"></i> Russian <span class="badge ml-auto">25 - 100%</span>
				</div>
			</div>
		</form>
	</div>
<%= _.template(require('./../parts/footer.html').default)(data) %>
