<% var data = { title: "Buttons" }; %>
<%= _.template(require('./../parts/header.html').default)(data) %>
	<div class="jb__filter">
		<form class="p-4" action="." method="get" autocomplete="off">
			<div class="pb-4 bb">
				<button type="submit" class="btn btn-primary w-100"><i class="icon-upload"></i> Add new user</button>
				<div class="mt-2 t-muted t-hint ta-center">Upload or drag and drop files</div>
			</div>
			<div class="py-3">
				<div class="t-hint t-muted fw-400">Search</div>
				<div class="mt-2">
					<input type="search" name="search" placeholder="e.g. image.png">
				</div>
			</div>
			<div class="py-3">
				<div class="d-flex aic t-hint t-muted mb-3 fw-400">
					<span>Categories</span><span class="ml-auto">Choose all</span>
				</div>
				<label class="d-flex aic mb-1">
					<input type="checkbox" name="remember">
					<span>E-commerce</span><span class="badge ml-auto bg-blue-lt">6</span>
				</label>
				<label class="d-flex aic mb-1">
					<input type="checkbox" name="remember">
					<span>Analytics</span><span class="badge ml-auto bg-blue-lt">56</span>
				</label>
				<label class="d-flex aic mb-1">
					<input type="checkbox" name="remember">
					<span>Blocks</span><span class="badge ml-auto bg-blue-lt">79</span>
				</label>
				<label class="d-flex aic mb-1">
					<input type="checkbox" name="remember">
					<span>Security</span><span class="badge ml-auto bg-blue-lt">21</span>
				</label>
				<label class="d-flex aic mb-1">
					<input type="checkbox" name="remember">
					<span>SEO</span><span class="badge ml-auto bg-blue-lt">14</span>
				</label>
				<label class="d-flex aic mb-1">
					<input type="checkbox" name="remember">
					<span>Social</span><span class="badge ml-auto bg-blue-lt">26</span>
				</label>
				<label class="d-flex aic mb-1">
					<input type="checkbox" name="remember">
					<span>Content</span><span class="badge ml-auto bg-blue-lt">139</span>
				</label>
			</div>
		</form>
	</div>
	<div class="jb__body">

		<div class="d-flex bg-muted-lt aic p-4 pb-0">
			<div class="mr-2">
				<h4 class="m-0">Users</h4>
				<div class="t-muted t-hint">Data about all registered users</div>
			</div>
			<div class="ml-auto">
				<button class="btn"><i class="icon-folder-open"></i> Add new user</button>
			</div>
		</div>

		<table class="table" x-data="table">
			<thead>
				<tr>
					<th class="is-fit"><input type="checkbox" x-bind="trigger"></th>
					<th class="img is-fit"></th>
					<th class="name">Name</th>
					<th class="date">Joined date</th>
					<th class="role is-fit">Role</th>
					<th class="status is-fit">Last login</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="cb is-fit"><input type="checkbox" name="post[]" x-bind="switcher"></td>
					<td class="img is-fit">
						<span class="avatar" style="background-image: url(https://placeimg.com/100/100/cat)"></span>
					</td>
					<td class="name">
						<a href="#" class="strong">Jakob Batallone</a>
						<div class="actions t-hint"><a href="?user">View 7 posts</a> - <a href="?user">Password reset</a> - <a href="?user">Delete</a></div>
					</td>
					<td class="date">
						<div class="strong"><a href="mailto:codyshop@team.com" class="strong">codyshop@team.com</a></div>
						<div class="t-hint">Nov 24, 2021 <span class="t-muted">12:30 AM</span></div>
					</td>
					<td class="role is-fit">
						<span class="badge bg-blue-lt">Admin</span>
					</td>
					<td class="status is-fit">
						<span class="badge bg-dark-lt">3 days ago</span>
					</td>
				</tr>
				<tr>
					<td class="cb is-fit">
						<input type="checkbox" name="post[]" x-bind="switcher">
					</td>
					<td class="img is-fit">
						<span class="avatar" style="background-image: url(https://placeimg.com/100/100/dog)" title="Jakob Batallone is online"><span class="badge bg-green"></span></span>
					</td>
					<td class="name">
						<a href="#" class="strong">Jakob Batallone</a>
						<div class="actions t-hint"><a href="?user">View 7 posts</a> - <a href="?user">Password reset</a> - <a href="?user">Delete</a></div>
					</td>
					<td class="date">
						<div class="strong"><a href="mailto:codyshop@team.com" class="strong">codyshop@team.com</a></div>
						<div class="t-hint">Nov 24, 2021 <span class="t-muted">12:30 AM</span></div>
					</td>
					<td class="role is-fit">
						<span class="badge bg-blue-lt">Subscriber</span>
					</td>
					<td class="status is-fit">
						<span class="badge bg-dark-lt">3 days ago</span>
					</td>
				</tr>
				<tr>
					<td class="cb is-fit">
						<input type="checkbox" name="post[]" x-bind="switcher">
					</td>
					<td class="img is-fit">
						<span class="avatar" style="background-image: url(https://placeimg.com/100/100/bird)"></span>
					</td>
					<td class="name">
						<a href="#" class="strong">Jakob Batallone</a>
						<div class="actions t-hint"><a href="?user">View 7 posts</a> - <a href="?user">Password reset</a> - <a href="?user">Delete</a></div>
					</td>
					<td class="date">
						<div class="strong"><a href="mailto:codyshop@team.com" class="strong">codyshop@team.com</a></div>
						<div class="t-hint">Nov 24, 2021 <span class="t-muted">12:30 AM</span></div>
					</td>
					<td class="role is-fit">
						<span class="badge bg-blue-lt">Subscriber</span>
					</td>
					<td class="status is-fit">
						<span class="badge bg-dark-lt">3 days ago</span>
					</td>
				</tr>
				<tr>
					<td class="cb is-fit">
						<input type="checkbox" name="post[]" x-bind="switcher">
					</td>
					<td class="img is-fit">
						<span class="avatar" style="background-image: url(https://placeimg.com/100/100/lion)"></span>
					</td>
					<td class="name">
						<a href="#" class="strong">Jakob Batallone</a>
						<div class="actions t-hint"><a href="?user">View 7 posts</a> - <a href="?user">Password reset</a> - <a href="?user">Delete</a></div>
					</td>
					<td class="date">
						<div class="strong"><a href="mailto:codyshop@team.com" class="strong">codyshop@team.com</a></div>
						<div class="t-hint">Nov 24, 2021 <span class="t-muted">12:30 AM</span></div>
					</td>
					<td class="role is-fit">
						<span class="badge bg-blue-lt">Subscriber</span>
					</td>
					<td class="status is-fit">
						<span class="badge bg-dark-lt">3 days ago</span>
					</td>
				</tr>
				<tr>
					<td class="cb is-fit">
						<input type="checkbox" name="post[]" x-bind="switcher">
					</td>
					<td class="img is-fit">
						<span class="avatar" style="background-image: url(https://placeimg.com/100/100/snake)"></span>
					</td>
					<td class="name">
						<a href="#" class="strong">Jakob Batallone</a>
						<div class="actions t-hint"><a href="?user">View 7 posts</a> - <a href="?user">Password reset</a> - <a href="?user">Delete</a></div>
					</td>
					<td class="date">
						<div class="strong"><a href="mailto:codyshop@team.com" class="strong">codyshop@team.com</a></div>
						<div class="t-hint">Nov 24, 2021 <span class="t-muted">12:30 AM</span></div>
					</td>
					<td class="role is-fit">
						<span class="badge bg-blue-lt">Subscriber</span>
					</td>
					<td class="status is-fit">
						<span class="badge bg-dark-lt">3 days ago</span>
					</td>
				</tr>
				<tr>
					<td class="cb is-fit">
						<input type="checkbox" name="post[]" x-bind="switcher">
					</td>
					<td class="img is-fit">
						<span class="avatar" style="background-image: url(https://placeimg.com/100/100/horse)"></span>
					</td>
					<td class="name">
						<a href="#" class="strong">Jakob Batallone</a>
						<div class="actions t-hint"><a href="?user">View 7 posts</a> - <a href="?user">Password reset</a> - <a href="?user">Delete</a></div>
					</td>
					<td class="date">
						<div class="strong"><a href="mailto:codyshop@team.com" class="strong">codyshop@team.com</a></div>
						<div class="t-hint">Nov 24, 2021 <span class="t-muted">12:30 AM</span></div>
					</td>
					<td class="role is-fit">
						<span class="badge bg-blue-lt">Subscriber</span>
					</td>
					<td class="status is-fit">
						<span class="badge bg-dark-lt">3 days ago</span>
					</td>
				</tr>
				<tr>
					<td class="cb is-fit">
						<input type="checkbox" name="post[]" x-bind="switcher">
					</td>
					<td class="img is-fit">
						<span class="avatar" style="background-image: url(https://placeimg.com/100/100/wolf)"></span>
					</td>
					<td class="name">
						<a href="#" class="strong">Jakob Batallone</a>
						<div class="actions t-hint"><a href="?user">View 7 posts</a> - <a href="?user">Password reset</a> - <a href="?user">Delete</a></div>
					</td>
					<td class="date">
						<div class="strong"><a href="mailto:codyshop@team.com" class="strong">codyshop@team.com</a></div>
						<div class="t-hint">Nov 24, 2021 <span class="t-muted">12:30 AM</span></div>
					</td>
					<td class="role is-fit">
						<span class="badge bg-blue-lt">Subscriber</span>
					</td>
					<td class="status is-fit">
						<span class="badge bg-dark-lt">3 days ago</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
<%= _.template(require('./../parts/footer.html').default)(data) %>
