.datepicker {
	display: block;
}
.datepicker__box{
	padding: 5px;
}
.datepicker table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
}
.datepicker table th,
.datepicker table td {
	width: calc(100% / 7);
	padding: 0;
}
.datepicker table th {
	color: #ccc;
    text-transform: uppercase;
    font-size: 0.66rem;
    letter-spacing: 0.045rem;
    line-height: 4;
    font-weight: normal;
    text-align: center;
}
.datepicker__wrapper {
	color: #333;
	margin-top: 2px;
	border-radius: 4px;
	position: relative;
	z-index: 1;
	background: white;
	border: 1px solid #ddd;
	padding: 0;
	display: flex;
	flex-flow: wrap;
	overflow: hidden;
}
.datepicker__calendar {
	display: flex;
    flex-flow: wrap;
    overflow: hidden;
    width: 100%;
}
.datepicker:not(.is-inline) .datepicker__wrapper {
	box-shadow: 0px 3px 12px -5px rgb(99 99 99 / 15%);
	margin: 0.25rem 0;
}
.datepicker__month {
	flex: 1;
}
.datepicker__month:not(:first-child) .datepicker__prev,
.datepicker__month:not(:last-child) .datepicker__next {
	display: none;
}
.datepicker__header {
	display: flex;
	align-items: center;
	position: relative;
	text-align: center;
	padding: 0.25rem;
	border-bottom: 1px solid #ddd;
}
.datepicker__title {
	display: inline-block;
	padding: 0.25rem;
	font-size: 0.875rem;
	line-height: 1.5rem;
	font-weight: bold;
}
.datepicker__title select{
	border-radius: 3px;
	font: inherit;
    font-weight: normal;
	margin: 0 3px;
    padding: 7px 20px 7px 7px;
    line-height: 1;
    border-color: #dddddd;
    outline: none;
    display: inline-block;
	min-height: inherit;
    width: auto;
	-webkit-appearance: none;
	background: #fff url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' width='20' height='20' viewBox='0 0 20 20'%3e%3cpath stroke='%23ddd' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M13 13l-3 3-3-3m6-6l-3-3-3 3'/%3e%3c/svg%3e") no-repeat right 0 top 50%;
	cursor: pointer;
	transition: all 0.2s;
}
.datepicker__title select option {
	font: inherit;
    font-size: 90%;
    font-weight: normal;
}
.datepicker__prev,
.datepicker__next {
	cursor: pointer;
    outline: none;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
	transition: all 0.2s;
}
.datepicker__prev:hover,
.datepicker__next:hover {
	opacity: 1;
    background-color: #fafafa;
}
.datepicker__prev {
	margin-right: auto;
}
.datepicker__next {
	margin-left: auto;
}
.datepicker__prev.is-disabled,
.datepicker__next.is-disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.4;
}
.datepicker__timepicker{
	min-width: 100%;
	display: flex;
}
.datepicker__timebox{
	padding: 10px 15px;
	border-top: 1px solid #ddd;
	font-size: 0.75rem;
	background: #fafafa;
	width: 50%;
	display: flex;
	align-items: center;
	flex: 1;
}
.datepicker__timebox select {
	border-radius: 3px;
	font: inherit;
	margin: 0 3px;
    padding: 7px 20px 7px 7px;
    line-height: 1;
    border-color: #dddddd;
    outline: none;
    display: inline-block;
    width: auto;
	-webkit-appearance: none;
	background: #fff url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' width='20' height='20' viewBox='0 0 20 20'%3e%3cpath stroke='%23ddd' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M13 13l-3 3-3-3m6-6l-3-3-3 3'/%3e%3c/svg%3e") no-repeat right 0 top 50%;
	cursor: pointer;
}
.datepicker__timebox input{
    font: inherit;
	border-radius: 3px;
    padding: 5px 8px;
    line-height: 1;
    outline: none;
    display: inline-block;
    width: 2rem;
	background-color: #fff;
    border: 1px solid #ddd;
}
.datepicker__timebox input:focus {
	box-shadow: 0 0 0 1px #6190e8;
    border: 1px solid #6190e8;
}
.datepicker__day {

}
.datepicker__day > span {
	cursor: pointer;
    box-sizing: border-box;
    font-size: 0.75rem;
    line-height: 1.5;
    padding: 6px;
    display: flex;
    align-items: center;
	justify-content: center;
    position: relative;
}
.datepicker__day > span:hover{
	background: #6190e81a;
    border-radius: 4px;
}
.datepicker__day.is-today > span {
	font-weight: bold;
}
.datepicker__day.is-selected > span {
	background: #6190e81a;
}
.datepicker__day.is-start > span,
.datepicker__day.is-end > span {
	background-color: #6190e8;
    color: #fff;
}
.datepicker__day.is-start > span {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.datepicker__day.is-end > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.datepicker__day.is-disabled,
.datepicker__day.is-otherMonth {
	cursor: default;
	pointer-events: none;
	color: #ddd;
}
.datepicker__day.is-disabled > span,
.datepicker__day.is-otherMonth > span {
	background-color: inherit;
    color: inherit;
}
