.builder {
  width: 100%;
  position: relative;
  container: builder / inline-size;

  &-wrapper {
    padding: 0 1.75rem 1.75rem;
    display: grid;
    width: 100%;
    gap: 0.4rem;
    max-width: 80rem;

    @container builder (max-width: 640px) {
      padding: 1.25rem;
    }

    @media screen and (max-width: 1024px) {
      padding: 1.25rem;
    }
  }

  &-header {
    display: grid;
    gap: 1rem;
    margin-bottom: 0.75rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }

  &-group {
    display: grid;
    gap: 0.2rem;
    position: relative;
    border-inline-start: 1px solid var(--grafema-border);
    margin-left: 2rem;
    padding-inline-start: 0.5rem;

    &:before {
      border: 1px solid var(--grafema-border);
      border-inline-end: none;
      bottom: -1.25rem;
      top: 50%;
      content: '';
      left: -1.25rem;
      position: absolute;
      width: 1.25rem;
    }

    &:after {
      content: attr(data-or);
      position: absolute;
      padding: 0.4em 0;
      text-transform: uppercase;
      margin-inline-end: auto;
      border-radius: var(--grafema-border-radius);
      color: var(--grafema-secondary);
      border: 1px solid var(--grafema-border);
      background: var(--grafema-bg);
      line-height: initial;
      font-weight: 600;
      font-size: 0.6rem;
      bottom: 0;
      left: -3.5em;
      width: 3em;
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
    }

    @container builder (max-width: 640px) {
      margin-left: 0;
      margin-bottom: 1.5rem;

      &:before {
        content: none;
      }

      &:after {
        bottom: -1.5rem;
        left: -1.5em;
        z-index: 2;
      }
    }
  }

  &__rules {
    display: grid;
    gap: 0.25rem;
    grid-template-columns: 1fr 9rem 1fr 2.25rem;
    position: relative;

    @container builder (max-width: 640px) {
      grid-template-columns: 1fr;
    }
  }

  &__buttons {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
  }
}