.field {
  display: grid;
  gap: 0.25em;
  font-size: 0.875rem;
  align-content: start;

  &:has([disabled]) {
    pointer-events: none;
  }

  &--sm {
    font-size: 0.8125rem;
  }

  &--lg {
    font-size: 1rem;
  }

  &-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    line-height: 1.35em;
  }

  &-instruction {
    line-height: 1.3em;
    font-size: 0.9285em;
    color: var(--grafema-text-muted);
  }

  &-item {
    padding-inline: 0.85em;
    display: flex;
    align-items: center;
    gap: 0.25em;
    border: 1px solid var(--grafema-border);
    border-radius: var(--grafema-border-radius);
    background-color: var(--grafema-bg);
    height: 2rem;

    i {
      font-size: inherit;
      margin-top: 0.15em;
    }

    code,
    samp {
      font-size: 0.7em;
      font-weight: inherit;
    }

    &:has([type="number"]),
    &:has(:nth-child(1 of code)),
    &:has(:nth-child(1 of samp)) {
      padding-inline-start: 0.4em;
    }

    &:has(textarea[x-textarea]) {
      height: initial;
    }

    input,
    select,
    textarea {
      border-radius: 0;
      border-width: 0;
      border-color: transparent;
      background-color: transparent;
      padding-inline: 0;
      height: inherit;
      cursor: initial;
      resize: none;
      color: inherit;
      font-size: inherit;

      &:focus,
      &:hover {
        box-shadow: none;
      }

      &.load {
        background-position: calc(100% - 0.25rem) center;
      }
    }

    input {

      &[type="number"] {
        -moz-appearance: textfield;
        text-align: center;
        width: 2.75em;
      }

      &[type="number"]::-webkit-inner-spin-button,
      &[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[x-datepicker][readonly] {
        color: inherit !important;
      }
    }

    select {
      padding-inline: 0.8em 1.65em;

      + .ss-main {
        background-color: transparent;
        border: none;
        box-shadow: none;
        height: 100%;
        padding-inline: 0.8em 2.25em;
      }

      &[multiple] + .ss-main {
        padding-inline-start: 0.25em;
      }
    }

    &:has(select),
    &:has(.ss-main) {
      padding-inline: 0 !important;
    }

    &:has([x-datepicker][readonly]):focus-within {
      border-color: var(--grafema-link);
      box-shadow: 0 0 0 1px var(--grafema-link);
    }

    &:not(:has([readonly])):focus-within {
      color: inherit;
      outline: 0;
      background-color: #fff;
      border-color: var(--grafema-link);
      box-shadow: 0 0 0 1px var(--grafema-link);
    }

    .field--sm & {
      padding-inline: 0.65em;
      height: 1.75rem;
      max-height: 1.75rem;

      .ss-content {
        font-size: 0.8125rem;
        height: 1.75rem;
        max-height: 1.75rem;
        line-height: 1.2;
      }
    }

    .field--lg & {
      padding-inline: 1.125em;
      height: 2.5rem;
      max-height: 2.5rem;

      .ss-content {
        font-size: 1rem;
        height: 2.5rem;
        max-height: 2.5rem;
        line-height: 1.6;
      }
    }

    .field--outline & {
      border: 1px solid var(--grafema-border);
      background-color: var(--grafema-white);

      .ss-content {
        background-color: var(--grafema-white) !important;
        border: 1px solid var(--grafema-border);
      }
    }
  }
}
