.field {
  display: grid;
  gap: 0.25em;
  font-size: 0.875rem;
  align-content: start;

  &:has([disabled]) {
    pointer-events: none;
  }

  &--sm {
    font-size: 0.8125rem;
  }

  &--lg {
    font-size: 1rem;
  }

  &-label {
    gap: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    line-height: 1.35em;
  }

  &-instruction {
    line-height: 1.2em;
    font-size: 0.9285em;
    color: var(--grafema-text-muted);
  }

  &-item {
    padding-inline: 0.8em;
    display: flex;
    align-items: center;
    gap: 0.25em;
    border: 1px solid var(--grafema-border);
    border-radius: var(--grafema-border-radius);
    background-color: var(--grafema-bg);
    height: 2rem;

    i {
      font-size: inherit;
      margin-top: 0.15em;
    }

    code,
    samp {
      font-size: 0.7em;
      font-weight: inherit;
    }

    &:has(:nth-child(1 of code)) {
      padding-inline-start: 0.4em;
    }

    &:has(textarea[x-textarea]) {
      height: initial;
    }

    input,
    select,
    textarea {
      border-radius: 0;
      border-width: 0;
      border-color: transparent;
      background-color: transparent;
      padding-inline: 0;
      height: inherit;
      cursor: inherit;
      resize: none;
      color: inherit;
      font-size: inherit;
      box-shadow: none;

      &:focus,
      &:hover {
        box-shadow: none;
      }

      &.load {
        background-position: calc(100% - 0.25rem) center;
      }
    }

    input {

      &[type="number"] {
        -moz-appearance: textfield;
        text-align: center;
        width: 2.75em;
      }

      &[type="number"]::-webkit-inner-spin-button,
      &[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type="checkbox"] {
        border: 1px solid var(--grafema-border);
        border-radius: calc(var(--grafema-border-radius) / 1.5);
        margin: 0 0 auto;

        &:checked {
          border-color: var(--grafema-primary);
        }
      }

      &[x-datepicker][readonly] {
        color: inherit !important;
        pointer-events: initial;
        cursor: pointer;
      }
    }

    // select
    select {
      padding-inline: 0.8em 1.65em;

      + .ss-main {
        background-color: transparent;
        border: none;
        box-shadow: none;
        height: 100%;
        padding-inline: 0.8em 2.25em;
      }

      &[multiple] + .ss-main {
        padding-inline-start: 0.25em;
      }
    }

    textarea {

      &:hover {
        background-color: inherit;
        color: inherit;
      }
    }

    // checkbox
    &:has([type="checkbox"]) {
      background-color: transparent;
      border: none;
      box-shadow: none !important;
      font-weight: 400;
      height: auto;
      margin: 0.125rem 0;
      padding: 0;
      gap: 0.5rem;

      .field-switcher {
        display: none;
      }

      .field-label {
        font-weight: 400;
        justify-content: flex-start;
        order: 1;
        flex-wrap: wrap;
        flex: 1;
        gap: 0.25rem;
      }

      .field-icon {
        background-color: var(--grafema-bg);
        border-radius: 100%;
        display: flex;
        height: 2.5rem;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        margin-bottom: auto;
      }

      .field--switcher & {
        $width: 2.25rem;
        $height: 1.35rem;
        $gap: 0.16rem;
        justify-content: space-between;
        flex-wrap: wrap;
        height: auto;
        padding: 1rem 1.5rem;
        border: none;
        gap: 0.65rem;
        margin: 0;
        background-color: var(--grafema-bg);

        &:focus-within {
          border-radius: 0 0 var(--grafema-border-radius) var(--grafema-border-radius);
          border-color: var(--grafema-border) !important;
          box-shadow: none !important;
          background-color: var(--grafema-bg) !important;
        }

        &:not(:first-child) {
          border-radius: 0;
          border-top: 1px dotted var(--grafema-border);
          margin-top: -0.25rem;
        }

        &:not(:only-child):first-child {
          border-radius: var(--grafema-border-radius) var(--grafema-border-radius) 0 0;
        }

        &:not(:only-child):last-child {
          border-radius: 0 0 var(--grafema-border-radius) var(--grafema-border-radius);
        }

        .field-checkbox {
          position: absolute !important;
          visibility: hidden;

          &:checked ~ {

            .field-switcher {
              background: var(--grafema-success);
              border: 1px solid var(--grafema-success);

              &:before {
                left: calc(100% - #{$height - $gap});
                background: var(--grafema-white);
              }
            }
          }
        }

        .field-label {
          font-weight: 600;
        }

        .field-switcher {
          position: relative;
          display: flex;
          min-width: $width;
          width: $width;
          height: $height;
          border-radius: $width;
          background: var(--grafema-bg-universal);
          border: 1px solid var(--grafema-border);
          transition: background 0.25s;
          margin: 0 0 auto;
          order: 2;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: $gap;
            margin: auto 0;
            width: #{$height - $gap * 2};
            height: #{$height - $gap * 2};
            background: var(--grafema-border-hover);
            border-radius: 50%;
            transition: all 0.25s;
          }
        }

        .field-icon {
          background-color: var(--grafema-white);
          margin-inline-start: -0.5rem;
        }

        .field-instruction {
          order: 3;
          min-width: 100%;
          font-weight: normal;
        }
      }
    }

    .field--sm & {
      padding-inline: 0.65em;
      height: 1.75rem;
      max-height: 1.75rem;

      .ss-content {
        font-size: 0.8125rem;
        height: 1.75rem;
        max-height: 1.75rem;
        line-height: 1.2;
      }
    }

    .field--lg & {
      padding-inline: 1.125em;
      height: 2.5rem;
      max-height: 2.5rem;

      .ss-content {
        font-size: 1rem;
        height: 2.5rem;
        max-height: 2.5rem;
        line-height: 1.6;
      }
    }

    .field--outline & {
      border: 1px solid var(--grafema-border);
      background-color: var(--grafema-white);

      .ss-content {
        background-color: var(--grafema-white) !important;
        border: 1px solid var(--grafema-border);
      }
    }

    &:has(select),
    &:has(.ss-main) {
      padding-inline: 0 !important;
    }

    &:has(.datepicker select) {
      padding-inline: 0.65em !important;
    }

    &:not(:has([readonly])):focus-within {
      color: inherit;
      outline: 0;
      background-color: #fff;
      border-color: var(--grafema-link);
      box-shadow: 0 0 0 1px var(--grafema-link);
      z-index: 1;
    }

    &:has([x-datepicker][readonly]):focus-within {
      border-color: var(--grafema-link);
      box-shadow: 0 0 0 1px var(--grafema-link);
    }

    &:has(input:invalid):focus-within,
    &:has(select:invalid):focus-within,
    &:has(textarea:invalid):focus-within {
      border-color: var(--grafema-error);
      box-shadow: 0 0 0 1px var(--grafema-error);
    }
  }
}
