.ss {
  --ss-primary-color: #5897fb;
  --ss-bg-color: var(--grafema-bg);
  --ss-font-color: #4d4d4d;
  --ss-font-placeholder-color: #8d8d8d;
  --ss-disabled-color: #dcdee2;
  --ss-border-color: var(--grafema-border);
  --ss-highlight-color: #fffb8c;
  --ss-success-color: #00b755;
  --ss-error-color: #dc3545;
  --ss-main-height: 30;
  --ss-content-height: 300;
  --ss-spacing-l: 7px;
  --ss-spacing-m: 5px;
  --ss-spacing-s: 3px;
  --ss-animation-timing: 0.2s;
  --ss-border-radius: var(--grafema-border-radius);

  &-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    color: inherit;
    font: inherit;
    margin: 0;
    flex: 1;
    width: 100%;
    position: relative;
    outline: 0;
    border: 1px solid var(--grafema-border);
    border-radius: var(--grafema-border-radius);
    transition: color, box-shadow 0.2s ease;
    height: 1.875rem;
    padding-inline: 0.8em 2.25em;
    white-space: nowrap;
    background: var(--grafema-bg) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2371777F' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.75' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") no-repeat right 0.85em top 55%;
    background-size: 0.8em;

    select[multiple] + & {
      padding-inline-start: 0.25em;
    }

    &.ss-open-below {
      color: inherit;
      outline: 0;
      background-color: #fff;
      border-color: var(--grafema-link);
      box-shadow: 0 0 0 1px var(--grafema-link);
    }

    &.ss-open-above,
    &.ss-open-below {
      border-radius: var(--grafema-border-radius);
    }

    .ss-arrow {
      display: none;
    }

    .ss-values {
      gap: 3px;

      .ss-placeholder {
        color: var(--grafema-text-muted);
      }

      .ss-single {
        margin: 0;
        align-items: center;
        gap: 0.5em;

        i {
          background-color: #EBF5FA;
          border-width: 1px;
          border-style: solid;
          border-color: #A5D2E7;
          border-radius: 100%;
          color: #0783BE;
          width: 1.1rem;
          height: 1.1rem;
          font-size: 11px;
          align-items: center;
          display: inline-flex;
          justify-content: center;
        }

        img {
          border-radius: 18px;
          min-width: 18px;
          width: 18px;
        }
      }

      .ss-text {
        display: flex;
        align-items: baseline;
        gap: 0.5rem;
        color: var(--grafema-dark);

        .ss-description {
          font-size: 0.85em;
          opacity: 0.6;
        }
      }

      .ss-value {
        background-color: rgba(32, 107, 196, 0.1);
        height: 25px;

        .ss-value-delete,
        .ss-value-text {
          padding: 0.4rem;
          border: 0;
          font-size: 13px;
          color: var(--grafema-primary);
        }

        .ss-value-text {
          padding-inline-end: 0;
        }

        .ss-value-delete {
          border-radius: 3px;
          margin: 0 3px 0 6px;
          transition: background-color 0.3s;

          &:hover {
            border-radius: 3px;
            background-color: rgb(255 255 255 / 60%);
          }

          svg path {
            stroke: var(--grafema-primary);
          }
        }
      }
    }
  }

  &-content {
    background-color: #fafafa;
    border: solid 1px var(--grafema-border);
    opacity: 0;
    position: absolute;
    transform: translateY(0.5rem);
    transform-origin: center top;
    transition: transform .3s, opacity .15s;
    visibility: hidden;
    top: -9999rem;

    &.ss-open-above,
    &.ss-open-below {
      border-radius: var(--grafema-border-radius);
      visibility: visible;
    }

    &.ss-open-above {
      transform: translateY(-4px);
    }

    &.ss-open-below {
      transform: translateY(4px);
    }

    .ss-search {
      padding: 3px;

      input {
        -webkit-appearance: textfield;
        -webkit-box-sizing: border-box;
        background-color: var(--grafema-white);
        border-radius: 0.3rem;
        box-sizing: border-box;
        color: inherit;
        display: inline-flex;
        flex: 1 1 auto;
        font: inherit;
        line-height: 1;
        margin: 0;
        outline: 0;
        text-align: left;
        width: 100%;
        height: 1.875rem;
        min-height: 1.875rem;
        padding: 0.2rem 0.7rem;

        &:focus {
          box-shadow: none !important;
        }
      }
    }

    .ss-list {
      max-height: 60vh;
    }

    .ss-list .ss-optgroup .ss-optgroup-label {
      background-color: var(--grafema-bg-universal);
      border-bottom: 1px solid var(--grafema-border);
      border-top: 1px solid var(--grafema-border);
      padding: 0.45rem 0.85rem;
      font-size: 0.95em;
      color: var(--grafema-text-muted);

      .ss-optgroup-label-text {
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 1;
      }
    }

    .ss-list .ss-optgroup .ss-option,
    .ss-list .ss-option {
      padding: 0.45rem 0.85rem;
      font-size: 0.95em;
      color: var(--grafema-dark);
    }

    .ss-list .ss-option:hover {
      background-color: var(--grafema-link);
      color: var(--grafema-white);
    }

    .ss-list .ss-option * {
      display: inline-block;
    }

    .ss-list .ss-option > * {
      margin-right: 7px;
    }

    .ss-list .ss-option {

      .ss-text {
        display: grid;
        line-height: 1.25em;
      }

      .ss-description {
        font-size: 0.75rem;
        color: inherit;
        opacity: 0.6;
      }

      > i {
        background-color: #EBF5FA;
        border-width: 1px;
        border-style: solid;
        border-color: #A5D2E7;
        border-radius: 100%;
        color: #0783BE;
        width: 1.1rem;
        height: 1.1rem;
        font-size: 11px;
        align-items: center;
        display: inline-flex;
        justify-content: center;
      }

      > img {
        border-radius: 18px;
        margin-left: -1px;
        min-width: 18px;
        width: 18px;
      }
    }

    .ss-list .ss-option.ss-highlighted,
    .ss-list .ss-option:not(.ss-disabled).ss-selected {
      color: var(--grafema-dark);
      background-color: var(--grafema-bg-active);
      cursor: no-drop;
    }

    .ss-list .ss-option.ss-disabled {
      background-color: rgb(255 255 255 / 50%);
      color: var(--grafema-text-muted);
      cursor: not-allowed;
    }

    .ss-list .ss-option .ss-search-highlight {
      background-color: var(--grafema-white);
    }
  }
}