.flag {
	position: relative;
	display: inline-block;
	width: 1.25rem;
	height: 1.25rem;
	vertical-align: -3px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border-radius: 50%;
}
.flag-normal {
	width: 1.33333rem;
	border-radius: 0;
}
.flag-ad {
	background-image: url("../sprites/flags/ad.svg");
}
.flag-ae {
	background-image: url("../sprites/flags/ae.svg");
}
.flag-af {
	background-image: url("../sprites/flags/af.svg");
}
.flag-ag {
	background-image: url("../sprites/flags/ag.svg");
}
.flag-ai {
	background-image: url("../sprites/flags/ai.svg");
}
.flag-al {
	background-image: url("../sprites/flags/al.svg");
}
.flag-am {
	background-image: url("../sprites/flags/am.svg");
}
.flag-ao {
	background-image: url("../sprites/flags/ao.svg");
}
.flag-aq {
	background-image: url("../sprites/flags/aq.svg");
}
.flag-ar {
	background-image: url("../sprites/flags/ar.svg");
}
.flag-as {
	background-image: url("../sprites/flags/as.svg");
}
.flag-at {
	background-image: url("../sprites/flags/at.svg");
}
.flag-au {
	background-image: url("../sprites/flags/au.svg");
}
.flag-aw {
	background-image: url("../sprites/flags/aw.svg");
}
.flag-ax {
	background-image: url("../sprites/flags/ax.svg");
}
.flag-az {
	background-image: url("../sprites/flags/az.svg");
}
.flag-ba {
	background-image: url("../sprites/flags/ba.svg");
}
.flag-bb {
	background-image: url("../sprites/flags/bb.svg");
}
.flag-bd {
	background-image: url("../sprites/flags/bd.svg");
}
.flag-be {
	background-image: url("../sprites/flags/be.svg");
}
.flag-bf {
	background-image: url("../sprites/flags/bf.svg");
}
.flag-bg {
	background-image: url("../sprites/flags/bg.svg");
}
.flag-bh {
	background-image: url("../sprites/flags/bh.svg");
}
.flag-bi {
	background-image: url("../sprites/flags/bi.svg");
}
.flag-bj {
	background-image: url("../sprites/flags/bj.svg");
}
.flag-bl {
	background-image: url("../sprites/flags/bl.svg");
}
.flag-bm {
	background-image: url("../sprites/flags/bm.svg");
}
.flag-bn {
	background-image: url("../sprites/flags/bn.svg");
}
.flag-bo {
	background-image: url("../sprites/flags/bo.svg");
}
.flag-bq {
	background-image: url("../sprites/flags/bq.svg");
}
.flag-br {
	background-image: url("../sprites/flags/br.svg");
}
.flag-bs {
	background-image: url("../sprites/flags/bs.svg");
}
.flag-bt {
	background-image: url("../sprites/flags/bt.svg");
}
.flag-bv {
	background-image: url("../sprites/flags/bv.svg");
}
.flag-bw {
	background-image: url("../sprites/flags/bw.svg");
}
.flag-by {
	background-image: url("../sprites/flags/by.svg");
}
.flag-bz {
	background-image: url("../sprites/flags/bz.svg");
}
.flag-ca {
	background-image: url("../sprites/flags/ca.svg");
}
.flag-cc {
	background-image: url("../sprites/flags/cc.svg");
}
.flag-cd {
	background-image: url("../sprites/flags/cd.svg");
}
.flag-cf {
	background-image: url("../sprites/flags/cf.svg");
}
.flag-cg {
	background-image: url("../sprites/flags/cg.svg");
}
.flag-ch {
	background-image: url("../sprites/flags/ch.svg");
}
.flag-ci {
	background-image: url("../sprites/flags/ci.svg");
}
.flag-ck {
	background-image: url("../sprites/flags/ck.svg");
}
.flag-cl {
	background-image: url("../sprites/flags/cl.svg");
}
.flag-cm {
	background-image: url("../sprites/flags/cm.svg");
}
.flag-cn {
	background-image: url("../sprites/flags/cn.svg");
}
.flag-co {
	background-image: url("../sprites/flags/co.svg");
}
.flag-cr {
	background-image: url("../sprites/flags/cr.svg");
}
.flag-cu {
	background-image: url("../sprites/flags/cu.svg");
}
.flag-cv {
	background-image: url("../sprites/flags/cv.svg");
}
.flag-cw {
	background-image: url("../sprites/flags/cw.svg");
}
.flag-cx {
	background-image: url("../sprites/flags/cx.svg");
}
.flag-cy {
	background-image: url("../sprites/flags/cy.svg");
}
.flag-cz {
	background-image: url("../sprites/flags/cz.svg");
}
.flag-de {
	background-image: url("../sprites/flags/de.svg");
}
.flag-dj {
	background-image: url("../sprites/flags/dj.svg");
}
.flag-dk {
	background-image: url("../sprites/flags/dk.svg");
}
.flag-dm {
	background-image: url("../sprites/flags/dm.svg");
}
.flag-do {
	background-image: url("../sprites/flags/do.svg");
}
.flag-dz {
	background-image: url("../sprites/flags/dz.svg");
}
.flag-ec {
	background-image: url("../sprites/flags/ec.svg");
}
.flag-ee {
	background-image: url("../sprites/flags/ee.svg");
}
.flag-eg {
	background-image: url("../sprites/flags/eg.svg");
}
.flag-eh {
	background-image: url("../sprites/flags/eh.svg");
}
.flag-er {
	background-image: url("../sprites/flags/er.svg");
}
.flag-es {
	background-image: url("../sprites/flags/es.svg");
}
.flag-et {
	background-image: url("../sprites/flags/et.svg");
}
.flag-fi {
	background-image: url("../sprites/flags/fi.svg");
}
.flag-fj {
	background-image: url("../sprites/flags/fj.svg");
}
.flag-fk {
	background-image: url("../sprites/flags/fk.svg");
}
.flag-fm {
	background-image: url("../sprites/flags/fm.svg");
}
.flag-fo {
	background-image: url("../sprites/flags/fo.svg");
}
.flag-fr {
	background-image: url("../sprites/flags/fr.svg");
}
.flag-ga {
	background-image: url("../sprites/flags/ga.svg");
}
.flag-gb {
	background-image: url("../sprites/flags/gb.svg");
}
.flag-gd {
	background-image: url("../sprites/flags/gd.svg");
}
.flag-ge {
	background-image: url("../sprites/flags/ge.svg");
}
.flag-gf {
	background-image: url("../sprites/flags/gf.svg");
}
.flag-gg {
	background-image: url("../sprites/flags/gg.svg");
}
.flag-gh {
	background-image: url("../sprites/flags/gh.svg");
}
.flag-gi {
	background-image: url("../sprites/flags/gi.svg");
}
.flag-gl {
	background-image: url("../sprites/flags/gl.svg");
}
.flag-gm {
	background-image: url("../sprites/flags/gm.svg");
}
.flag-gn {
	background-image: url("../sprites/flags/gn.svg");
}
.flag-gp {
	background-image: url("../sprites/flags/gp.svg");
}
.flag-gq {
	background-image: url("../sprites/flags/gq.svg");
}
.flag-gr {
	background-image: url("../sprites/flags/gr.svg");
}
.flag-gs {
	background-image: url("../sprites/flags/gs.svg");
}
.flag-gt {
	background-image: url("../sprites/flags/gt.svg");
}
.flag-gu {
	background-image: url("../sprites/flags/gu.svg");
}
.flag-gw {
	background-image: url("../sprites/flags/gw.svg");
}
.flag-gy {
	background-image: url("../sprites/flags/gy.svg");
}
.flag-hk {
	background-image: url("../sprites/flags/hk.svg");
}
.flag-hm {
	background-image: url("../sprites/flags/hm.svg");
}
.flag-hn {
	background-image: url("../sprites/flags/hn.svg");
}
.flag-hr {
	background-image: url("../sprites/flags/hr.svg");
}
.flag-ht {
	background-image: url("../sprites/flags/ht.svg");
}
.flag-hu {
	background-image: url("../sprites/flags/hu.svg");
}
.flag-id {
	background-image: url("../sprites/flags/id.svg");
}
.flag-ie {
	background-image: url("../sprites/flags/ie.svg");
}
.flag-il {
	background-image: url("../sprites/flags/il.svg");
}
.flag-im {
	background-image: url("../sprites/flags/im.svg");
}
.flag-in {
	background-image: url("../sprites/flags/in.svg");
}
.flag-io {
	background-image: url("../sprites/flags/io.svg");
}
.flag-iq {
	background-image: url("../sprites/flags/iq.svg");
}
.flag-ir {
	background-image: url("../sprites/flags/ir.svg");
}
.flag-is {
	background-image: url("../sprites/flags/is.svg");
}
.flag-it {
	background-image: url("../sprites/flags/it.svg");
}
.flag-je {
	background-image: url("../sprites/flags/je.svg");
}
.flag-jm {
	background-image: url("../sprites/flags/jm.svg");
}
.flag-jo {
	background-image: url("../sprites/flags/jo.svg");
}
.flag-jp {
	background-image: url("../sprites/flags/jp.svg");
}
.flag-ke {
	background-image: url("../sprites/flags/ke.svg");
}
.flag-kg {
	background-image: url("../sprites/flags/kg.svg");
}
.flag-kh {
	background-image: url("../sprites/flags/kh.svg");
}
.flag-ki {
	background-image: url("../sprites/flags/ki.svg");
}
.flag-km {
	background-image: url("../sprites/flags/km.svg");
}
.flag-kn {
	background-image: url("../sprites/flags/kn.svg");
}
.flag-kp {
	background-image: url("../sprites/flags/kp.svg");
}
.flag-kr {
	background-image: url("../sprites/flags/kr.svg");
}
.flag-kw {
	background-image: url("../sprites/flags/kw.svg");
}
.flag-ky {
	background-image: url("../sprites/flags/ky.svg");
}
.flag-kz {
	background-image: url("../sprites/flags/kz.svg");
}
.flag-la {
	background-image: url("../sprites/flags/la.svg");
}
.flag-lb {
	background-image: url("../sprites/flags/lb.svg");
}
.flag-lc {
	background-image: url("../sprites/flags/lc.svg");
}
.flag-li {
	background-image: url("../sprites/flags/li.svg");
}
.flag-lk {
	background-image: url("../sprites/flags/lk.svg");
}
.flag-lr {
	background-image: url("../sprites/flags/lr.svg");
}
.flag-ls {
	background-image: url("../sprites/flags/ls.svg");
}
.flag-lt {
	background-image: url("../sprites/flags/lt.svg");
}
.flag-lu {
	background-image: url("../sprites/flags/lu.svg");
}
.flag-lv {
	background-image: url("../sprites/flags/lv.svg");
}
.flag-ly {
	background-image: url("../sprites/flags/ly.svg");
}
.flag-ma {
	background-image: url("../sprites/flags/ma.svg");
}
.flag-mc {
	background-image: url("../sprites/flags/mc.svg");
}
.flag-md {
	background-image: url("../sprites/flags/md.svg");
}
.flag-me {
	background-image: url("../sprites/flags/me.svg");
}
.flag-mf {
	background-image: url("../sprites/flags/mf.svg");
}
.flag-mg {
	background-image: url("../sprites/flags/mg.svg");
}
.flag-mh {
	background-image: url("../sprites/flags/mh.svg");
}
.flag-mk {
	background-image: url("../sprites/flags/mk.svg");
}
.flag-ml {
	background-image: url("../sprites/flags/ml.svg");
}
.flag-mm {
	background-image: url("../sprites/flags/mm.svg");
}
.flag-mn {
	background-image: url("../sprites/flags/mn.svg");
}
.flag-mo {
	background-image: url("../sprites/flags/mo.svg");
}
.flag-mp {
	background-image: url("../sprites/flags/mp.svg");
}
.flag-mq {
	background-image: url("../sprites/flags/mq.svg");
}
.flag-mr {
	background-image: url("../sprites/flags/mr.svg");
}
.flag-ms {
	background-image: url("../sprites/flags/ms.svg");
}
.flag-mt {
	background-image: url("../sprites/flags/mt.svg");
}
.flag-mu {
	background-image: url("../sprites/flags/mu.svg");
}
.flag-mv {
	background-image: url("../sprites/flags/mv.svg");
}
.flag-mw {
	background-image: url("../sprites/flags/mw.svg");
}
.flag-mx {
	background-image: url("../sprites/flags/mx.svg");
}
.flag-my {
	background-image: url("../sprites/flags/my.svg");
}
.flag-mz {
	background-image: url("../sprites/flags/mz.svg");
}
.flag-na {
	background-image: url("../sprites/flags/na.svg");
}
.flag-nc {
	background-image: url("../sprites/flags/nc.svg");
}
.flag-ne {
	background-image: url("../sprites/flags/ne.svg");
}
.flag-nf {
	background-image: url("../sprites/flags/nf.svg");
}
.flag-ng {
	background-image: url("../sprites/flags/ng.svg");
}
.flag-ni {
	background-image: url("../sprites/flags/ni.svg");
}
.flag-nl {
	background-image: url("../sprites/flags/nl.svg");
}
.flag-no {
	background-image: url("../sprites/flags/no.svg");
}
.flag-np {
	background-image: url("../sprites/flags/np.svg");
}
.flag-nr {
	background-image: url("../sprites/flags/nr.svg");
}
.flag-nu {
	background-image: url("../sprites/flags/nu.svg");
}
.flag-nz {
	background-image: url("../sprites/flags/nz.svg");
}
.flag-om {
	background-image: url("../sprites/flags/om.svg");
}
.flag-pa {
	background-image: url("../sprites/flags/pa.svg");
}
.flag-pe {
	background-image: url("../sprites/flags/pe.svg");
}
.flag-pf {
	background-image: url("../sprites/flags/pf.svg");
}
.flag-pg {
	background-image: url("../sprites/flags/pg.svg");
}
.flag-ph {
	background-image: url("../sprites/flags/ph.svg");
}
.flag-pk {
	background-image: url("../sprites/flags/pk.svg");
}
.flag-pl {
	background-image: url("../sprites/flags/pl.svg");
}
.flag-pm {
	background-image: url("../sprites/flags/pm.svg");
}
.flag-pn {
	background-image: url("../sprites/flags/pn.svg");
}
.flag-pr {
	background-image: url("../sprites/flags/pr.svg");
}
.flag-ps {
	background-image: url("../sprites/flags/ps.svg");
}
.flag-pt {
	background-image: url("../sprites/flags/pt.svg");
}
.flag-pw {
	background-image: url("../sprites/flags/pw.svg");
}
.flag-py {
	background-image: url("../sprites/flags/py.svg");
}
.flag-qa {
	background-image: url("../sprites/flags/qa.svg");
}
.flag-re {
	background-image: url("../sprites/flags/re.svg");
}
.flag-ro {
	background-image: url("../sprites/flags/ro.svg");
}
.flag-rs {
	background-image: url("../sprites/flags/rs.svg");
}
.flag-ru {
	background-image: url("../sprites/flags/ru.svg");
}
.flag-rw {
	background-image: url("../sprites/flags/rw.svg");
}
.flag-sa {
	background-image: url("../sprites/flags/sa.svg");
}
.flag-sb {
	background-image: url("../sprites/flags/sb.svg");
}
.flag-sc {
	background-image: url("../sprites/flags/sc.svg");
}
.flag-sd {
	background-image: url("../sprites/flags/sd.svg");
}
.flag-se {
	background-image: url("../sprites/flags/se.svg");
}
.flag-sg {
	background-image: url("../sprites/flags/sg.svg");
}
.flag-sh {
	background-image: url("../sprites/flags/sh.svg");
}
.flag-si {
	background-image: url("../sprites/flags/si.svg");
}
.flag-sj {
	background-image: url("../sprites/flags/sj.svg");
}
.flag-sk {
	background-image: url("../sprites/flags/sk.svg");
}
.flag-sl {
	background-image: url("../sprites/flags/sl.svg");
}
.flag-sm {
	background-image: url("../sprites/flags/sm.svg");
}
.flag-sn {
	background-image: url("../sprites/flags/sn.svg");
}
.flag-so {
	background-image: url("../sprites/flags/so.svg");
}
.flag-sr {
	background-image: url("../sprites/flags/sr.svg");
}
.flag-ss {
	background-image: url("../sprites/flags/ss.svg");
}
.flag-st {
	background-image: url("../sprites/flags/st.svg");
}
.flag-sv {
	background-image: url("../sprites/flags/sv.svg");
}
.flag-sx {
	background-image: url("../sprites/flags/sx.svg");
}
.flag-sy {
	background-image: url("../sprites/flags/sy.svg");
}
.flag-sz {
	background-image: url("../sprites/flags/sz.svg");
}
.flag-tc {
	background-image: url("../sprites/flags/tc.svg");
}
.flag-td {
	background-image: url("../sprites/flags/td.svg");
}
.flag-tf {
	background-image: url("../sprites/flags/tf.svg");
}
.flag-tg {
	background-image: url("../sprites/flags/tg.svg");
}
.flag-th {
	background-image: url("../sprites/flags/th.svg");
}
.flag-tj {
	background-image: url("../sprites/flags/tj.svg");
}
.flag-tk {
	background-image: url("../sprites/flags/tk.svg");
}
.flag-tl {
	background-image: url("../sprites/flags/tl.svg");
}
.flag-tm {
	background-image: url("../sprites/flags/tm.svg");
}
.flag-tn {
	background-image: url("../sprites/flags/tn.svg");
}
.flag-to {
	background-image: url("../sprites/flags/to.svg");
}
.flag-tr {
	background-image: url("../sprites/flags/tr.svg");
}
.flag-tt {
	background-image: url("../sprites/flags/tt.svg");
}
.flag-tv {
	background-image: url("../sprites/flags/tv.svg");
}
.flag-tw {
	background-image: url("../sprites/flags/tw.svg");
}
.flag-tz {
	background-image: url("../sprites/flags/tz.svg");
}
.flag-ua {
	background-image: url("../sprites/flags/ua.svg");
}
.flag-ug {
	background-image: url("../sprites/flags/ug.svg");
}
.flag-um {
	background-image: url("../sprites/flags/um.svg");
}
.flag-us {
	background-image: url("../sprites/flags/us.svg");
}
.flag-uy {
	background-image: url("../sprites/flags/uy.svg");
}
.flag-uz {
	background-image: url("../sprites/flags/uz.svg");
}
.flag-va {
	background-image: url("../sprites/flags/va.svg");
}
.flag-vc {
	background-image: url("../sprites/flags/vc.svg");
}
.flag-ve {
	background-image: url("../sprites/flags/ve.svg");
}
.flag-vg {
	background-image: url("../sprites/flags/vg.svg");
}
.flag-vi {
	background-image: url("../sprites/flags/vi.svg");
}
.flag-vn {
	background-image: url("../sprites/flags/vn.svg");
}
.flag-vu {
	background-image: url("../sprites/flags/vu.svg");
}
.flag-wf {
	background-image: url("../sprites/flags/wf.svg");
}
.flag-ws {
	background-image: url("../sprites/flags/ws.svg");
}
.flag-ye {
	background-image: url("../sprites/flags/ye.svg");
}
.flag-yt {
	background-image: url("../sprites/flags/yt.svg");
}
.flag-za {
	background-image: url("../sprites/flags/za.svg");
}
.flag-zm {
	background-image: url("../sprites/flags/zm.svg");
}
.flag-zw {
	background-image: url("../sprites/flags/zw.svg");
}
.flag-es-ct {
	background-image: url("../sprites/flags/es-ct.svg");
}
.flag-eu {
	background-image: url("../sprites/flags/eu.svg");
}
.flag-gb-eng {
	background-image: url("../sprites/flags/gb-eng.svg");
}
.flag-gb-nir {
	background-image: url("../sprites/flags/gb-nir.svg");
}
.flag-gb-sct {
	background-image: url("../sprites/flags/gb-sct.svg");
}
.flag-gb-wls {
	background-image: url("../sprites/flags/gb-wls.svg");
}
.flag-un {
	background-image: url("../sprites/flags/un.svg");
}
